/******************
CSS Buttons
******************/

.btn {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;

    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
}

.btn:hover,
.btn:focus {
    color: #333333;
    background-color: #ebebeb;
    border-color: #adadad;
}

/* Button Green */
.btn-green {
    color: #ffffff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
    .btn-green:hover,
    .btn-green:focus {
        color: #ffffff;
        background-color: #47a447;
        border-color: #398439;
    }


/* Button Red */
.btn-red {
    color: #ffffff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
    .btn-red:focus,
    .btn-red:hover {
        color: #ffffff;
        background-color: #d2322d;
        border-color: #ac2925;
    }


/* Button Blue */
.btn-blue {
    color: #ffffff;
    background-color: #428bca;
    border-color: #357ebd;
}
    .btn-blue:focus,
    .btn-blue:hover {
        color: #ffffff;
        background-color: #3276b1;
        border-color: #285e8e;
    }
