/* ----- Clearfix ----- */
.clearfix:before,
.clearfix:after {
    display: table; /* 2 */
    content: " "; /* 1 */
}

.clearfix:after { clear: both; }

/* For IE 6/7 only - Include this rule to trigger hasLayout and contain floats. */
.clearfix { *zoom: 1; }
