/* Main CSS */
body, html {
	padding: 0;
	margin: 0;

	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #666;
	background-color: #CCC;
}

.maxwidth {
	display: block;
	width: 1144px;
	margin: auto;
	position: relative;
}


#Mobile-Nav {
	display: block;
	position: absolute;
	background-color: #333;
	width: 100%;
}
	#Mobile-Nav a {
		display: block;
		border-bottom: 1px solid #DDD;
		text-align: center;
	}
		#Mobile-Nav a:last-child { border: none; }

#Nav-Trigger {
	display: block;
	font-size: 32px;
	position: absolute;
	top: 10px;
	right: 10px;
	color: #DDD;
}

#Page {
	display: block;
	position: absolute;
	width: 100%;
	min-height: 100%;
}

#Header {
	background-color: #BBB;
	min-height: 200px;
}

#Body {
	background-color: #FFF;
	min-height: 400px;
}

#Footer {
	min-height: 100px;
	background-color: #CCC; /* Same as page background to create illusion of footer expanding to match screen height if page too short */
}

/* Media Queries 
@media screen and (max-width: 1144px) {
	.maxwidth { width: 960px; }
}

@media screen and (max-width: 960px) {
	.maxwidth { width: 600px; }
}

@media screen and (max-width: 600px) {
	.maxwidth { width: 480px; }
}

@media screen and (max-width: 480px) {
	.maxwidth { width: 320px; }
}*/
